{%extends 'base.html'%}

{ % load static % }
{% block title%}
About Us
{% endblock title%}

{% block body %}
<div class="aboutus" style='background-image: url("../static/mysite/images/doodle6.jpg");'>
    <div class="card">
        <h1><B>ABOUT US</B></h1>
        <h5>
            The .btn classes are designed to be used with the
            element. However, you can also use these classes on
            elements (though some browsers may apply a slightly different rendering).
            When using button classes on elements that are used to trigger in-page 
            functionality (like collapsing content) The .btn classes are designed to be used with the
            element. However, you can also use these classes on
            elements (though some browsers may apply a slightly different rendering).
            When using button classes on elements that are used to trigger in-page 
            functionality (like collapsing content)
        </h5>
    </div>
</div>
{% endblock body%}